body{
    background-color: aliceblue;
}
.mainContainer{
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 10px;
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    border: none;
    outline: none;
}

.searchBox{
    border: 1px solid;
    padding: 5px;
}

.menuLinks ul{
    display: flex;
}

.menuLinks ul li{
    list-style: none;
    /*position: relative;*/
    margin: 0 10px;
}

.menuLinks ul li a{
    /*border:1px solid #000; */
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: black;
}

.menuLinks ul li a:hover,  a.this, .menuLinks ul li a:visited{
    background-color:  #edf4fc;
    color:gray;
}

.burgerMenu{
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    margin-left: auto;
}

.burgerMenu span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.menuToggle{
    display: none;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.personaCard{
    border-radius: 20px;
	width: 350px;
    display: flex;
    padding: 20px;
	background-color: #edf4fc;
    
}
.personaCard:hover{
    border: 1px solid #a5dfff;
    border-radius: 20px;
    box-shadow: 2px 2px #b8b8b8;
}

.personaCard img{
    height: 150px;
    width: 150px;
    object-fit:cover;
    margin-left: 5px;
    margin-right:30px;
    border-radius: 75%;
}

.details h3,.details h5{
    margin: 0;
}

.tags ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.tags ul li{
    list-style: none;
    padding: 2px 10px;
    border: #5a5a5a solid thin;
    border-radius: 10px;
    margin: 2px;
    display: inline-block;
    color:#22a4ea;

}

@media only screen and (max-width:900px){
    h1{
        color: red;
    }

    .cards{
        flex-direction: column;
    }

    .personaCard{
        width: 85%
    }

    .navMenu{
        flex-direction: column;
        display: none;
    }

    .menuLinks ul{
        flex-direction: column;
        width: 100%;
    }

    .menuLinks ul li{
        width: 100%;
        text-align: left;
    }

    .menuLinks ul li a{
        width: 100%;
        display: block;
    }

    .burgerMenu{
        display: flex;
    }

    .menuToggle:checked + .burgerMenu + .navMenu{
        display: flex;
    }

    .menuToggle:checked + .burgerMenu span:nth-child(1){
        transform: rotate(45deg) translate(5px,5px);
    }
    .menuToggle:checked + .burgerMenu span:nth-child(2){
        opacity: 0;
    }

    .menuToggle:checked + .burgerMenu span:nth-child(3){
        transform: rotate(-45deg) translate(5px,-5px);
    }
}